html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* font-size: small; */
  /* 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  background: #c0c0c0;
  margin: 0;
}

/* Header */
.header {
  background: #292929;
  padding: 20px 50px 15px;
}

h1,
ul,
li {
  display: inline;
}

h1 {
  margin-left: 20px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header .active {
  color: #048a8a;
  font-weight: bold;
  text-decoration: underline;
}

ul a {
  font-size: 18px;
}

li {
  margin-right: 30px;
}
/* ___________________________________________ */

/* Index Content */
.content {
  background-color: #fff;
  width: 900px;
  margin: 0 auto;
}

.content h2 {
  padding: 20px 30px 0;
}

.content span {
  display: block;
  color: #c0c0c0;
  padding: 0 30px 20px;
}

.content img {
  width: 100%;
  height: 500px;
}

.content p {
  padding: 20px 30px;
}
/* ___________________________________________ */

/* News*/
.news {
  width: 969px;
  margin: 0 auto;
  /* border: #048a8a 1px solid; */
}

.news h2 {
  text-align: center;
  color: #048a8a;
  text-shadow: 2px 3px 6px #000000;
  font-size: 38px;
}

/* News item */
.news__item {
  margin: 20px 10px 0 10px;
  padding: 15px 15px 0;
  width: 300px;
  background: #e0dfdf;
  border-radius: 5px;
  display: inline-block;
  box-sizing: border-box;
}

.news__item__text {
  padding: 0 8px 8px;
}

.news__item__text h4 {
  margin: 10px 0 0 0;
}

.news__item__text p {
  margin: 0 0 5px 0;
}

.news__item img {
  width: 100%;
  height: 162px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.news__item__text hr {
  margin: 0;
}

.news__item__text__bottom {
  padding: 0 0 0 3px;
}

.news__item__text span {
}

.news__item__text a {
  text-decoration: none;
  color: #048a8a;
  padding: 0 0 0 112px;
}
/* ___________________________________________ */

/* Jobs */
.jobs {
  width: 900px;
  margin: 0 auto;
}

.jobs h2 {
  text-align: center;
  color: #048a8a;
  text-shadow: 2px 3px 6px #000000;
  font-size: 38px;
}

.go__toTop {
  text-decoration: none;
  background: #048a8a;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  color: #e0dfdf;

  padding: 20px;
  display: block;
  width: 130px;
  margin: 30px auto;
}

/* Job items */
.jobs .item {
  background: #e0dfdf;
  border: 3px solid #048a8a;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 2px 2px 15px #000000;
  margin-bottom: 30px;
}

.jobs .item h3 {
  font-size: 21px;
  font-style: italic;
  display: inline-block;
  width: 190px;
}

.jobs .item span {
  color: rgb(171, 7, 4);
  font-weight: bold;
  font-size: 18px;
  margin-right: 460px;
}

.jobs .item a {
  text-decoration: none;
  font-weight: bold;
  background-color: #048a8a;
  color: #e0dfdf;
  border-radius: 5px;
  padding: 10px 15px;
}
/* ___________________________________________ */
