body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #c0c0c0;
  margin: 0;
}
/* Header */
.header {
  background: #292929;
  padding: 20px 50px 15px;
}

h1,
ul,
li {
  display: inline;
}

h1 {
  margin-left: 20px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header .active {
  color: #048a8a;
  text-decoration: underline;
}

ul a {
  font-size: 18px;
}

li {
  margin-right: 30px;
}

/* Index Content */
.content {
  background-color: #fff;
  width: 900px;
  margin: 0 auto;
}

.content h2 {
  padding: 20px 30px 0;
}

.content span {
  display: block;
  color: #c0c0c0;
  padding: 0 30px 20px;
}

.content img {
  width: 100%;
  height: 500px;
}

.content p {
  padding: 20px 30px;
}

/* Jobs */
.jobs {
  width: 900px;
  margin: 0 auto;
}

.jobs h2 {
  text-align: center;
  color: #048a8a;
  font-size: 35px;
}

/* Job items */
.item {
  border: 3px solid #048a8a;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 0 0 15px #000000;
  margin-bottom: 30px;
}

.item h3 {
  font-style: italic;
  display: inline;
}

.item span {
  color: rgb(171, 7, 4);
  font-weight: bold;
  font-size: 18px;
  margin-right: 520px;
}

.item a {
  text-decoration: none;
  background-color: #048a8a;
  border-radius: 5px;
  padding: 10px 15px;
}
